# NetBeans specific
nbproject/private/
build/
nbbuild/
# dist/ (Cho phép push thư mục dist lên GitHub)
nbdist/
.nb-gradle/
*.class

# Windows
Thumbs.db
Desktop.ini

# Optional: Tomcat specific if you have local config
/target/
